@import '@material/react-linear-progress/index.scss';

#root > div {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.1fr;
	gap: 1px 1px;
	grid-template-areas: 'app' 'footer';
	justify-items: center;
	align-items: center;
	min-height: 100vh;
	background-color: #fafafa;
}

.App {
	grid-area: app;
	margin-top: 150px;
}

.footer {
	grid-area: footer;
}

.heading {
	margin-bottom: 2rem;
}
