@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-drawer/index.scss';

.drawer-container {
	position: absolute;
	top: 0;
	left: 0;

	.mdc-drawer__content {
		padding-top: 30px;
	}

	a {
		text-decoration: none;
		color: initial;
	}

	.mdc-list-item a {
		display: flex;
		align-items: center;

		span {
			margin-left: 10px;
		}
	}

	.drawer-app-content {
		.mdc-top-app-bar__section a {
			color: #fff;
		}
	}
}
