@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-drawer/index.scss';

.drawer-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
}

.drawer-app-content {
	flex: auto;
	overflow: auto;
}

.hamburger {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: #000;
	z-index: 10;
	font: inherit;
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 15px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
	text-transform: none;
	color: inherit;
	border: 0;
	background-color: transparent;

	.hamburger-box {
		position: relative;
		display: inline-block;
	}

	.hamburger-inner {
		top: 50%;
		display: block;
		margin-top: -2px;
	}

	.hamburger-inner:before {
		top: -8px;
	}

	.hamburger-inner:after {
		top: 8px;
	}

	.hamburger-inner:after,
	.hamburger-inner:before {
		display: block;
		content: '';
	}

	.hamburger-inner,
	.hamburger-inner:after,
	.hamburger-inner:before {
		position: absolute;
		width: 33px;
		height: 2px;
		transition-timing-function: ease;
		transition-duration: 0.15s;
		transition-property: transform;
		border-radius: 4px;
		background-color: #000;
	}

	&.is-active:hover,
	&:hover {
		opacity: 0.7;
	}

	&.is-active .hamburger-inner,
	&.is-active .hamburger-inner:after,
	&.is-active .hamburger-inner:before {
		background-color: #000;
	}

	&.is-active .hamburger-inner:before {
		transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
	}

	&.is-active .hamburger-inner:after {
		transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
	}
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 100px;
	text-align: left;
	background-color: #fff;
	box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.5);
	transform: translateX(-999px);
	transition: transform 0.6s cubic-bezier(0.34, 0.56, 0.64, 1);

	&.open {
		transform: translateX(0);
	}

	h3 {
		margin-bottom: 1rem;
		font-size: 1.25rem;
	}

	ul li {
		margin: 0.5rem 0;

		a {
			text-decoration: none;
		}
	}
}
