.sidebar-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: #000;
	z-index: 10;

	.hamburger {
		font: inherit;
		display: inline-block;
		overflow: visible;
		margin: 0;
		padding: 15px;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: 0.15s;
		transition-property: opacity, filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: transparent;
	}

	.hamburger-box {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 24px;
	}

	.hamburger-inner {
		top: 50%;
		display: block;
		margin-top: -2px;
	}

	.hamburger-inner:before {
		top: -10px;
	}

	.hamburger-inner:after,
	.hamburger-inner:before {
		display: block;
		content: '';
	}

	.hamburger-inner,
	.hamburger-inner:after,
	.hamburger-inner:before {
		position: absolute;
		width: 40px;
		height: 4px;
		transition-timing-function: ease;
		transition-duration: 0.15s;
		transition-property: transform;
		border-radius: 4px;
		background-color: #000;
	}

	.hamburger.is-active:hover,
	.hamburger:hover {
		opacity: 0.7;
	}

	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner:after,
	.hamburger.is-active .hamburger-inner:before {
		background-color: #000;
	}

	.hamburger--arrow.is-active .hamburger-inner:before {
		transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(0.7);
	}

	.hamburger--arrow.is-active .hamburger-inner:after {
		transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(0.7);
	}

	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner:after,
	.hamburger.is-active .hamburger-inner:before {
		background-color: #000;
	}
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 100px;
	background-color: #fff;
	transform: translateX(-999px);
	transition: transform 0.6s cubic-bezier(0.34, 0.56, 0.64, 1);

	&.open {
		transform: translateX(0);
	}
}
