@import '@material/react-text-field/index.scss';
@import '@material/react-button/index.scss';

.search-container {
	width: 400px;
	transition: width 0.6s cubic-bezier(0.85, 0, 0.15, 1);

	&.span-width {
		width: 70vw;
	}

	h2 {
		font-size: 1.5rem;
	}

	.search-form {
		.mdc-text-field {
			margin: 20px auto;
			width: 100%;
		}

		button {
			display: block;
			margin: 10px auto 50px;
		}
	}

	.search-results {
		ul li {
			margin: 30px 0;

			.result-link {
				color: #616161;
			}

			.result-snippet {
				margin: 5px 0;
			}
		}
	}

	.search-footer {
		text-align: center;
	}
}
