@import '@material/react-card/index.scss';

.weather-card {
	.weather-card-primary-content {
		padding: 20px;
		text-align: center;

		.weather-icon {
			margin: 10px 0;
			min-height: 30px;
			background-size: auto;
		}
	}

	.weather-card-content {
		padding: 30px;
		border-top: 1px solid grey;
	}
}
